.container {
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  padding: 0 0.5rem;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    .modal-open {
      padding: 1rem 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .main {
    margin: 8rem 0;
    span {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.6rem;
    }
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 2.6rem;
      }
      .list-filtering {
        select {
          padding: 0.5rem;
        }
        .reset-filters {
          margin-left: 0.5rem;
          padding: 0.5rem;
          background-color: #333;
          color: #fff;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
    .table {
      width: 90%;
      margin: 5rem auto 0 auto;
      border-spacing: 3px;
      thead {
        font-size: 2rem;
        th {
          padding: 1rem 0;
          font-weight: 600;
        }
      }
      .wishlist {
        font-size: 1.8rem;
        text-align: center;
        tr {
          height: 2.5rem;
          background-color: #eee;
          td {
            padding: 1rem 0.5rem;
          }
        }
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    .modal-content {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 3rem 2.5rem;
      margin: 10% auto;
      border-radius: 0.5rem;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      .modal-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        h1 {
          font-size: 2.4rem;
          text-align: center;
        }
        .modal-close {
          font-size: 4rem;
          padding: 0 0.5rem;
          cursor: pointer;
        }
      }
      #add-form {
        width: 100%;
        .form-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5rem;
          label {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
          }
          input,
          select {
            padding: 0.5rem;
            font-size: 1.6rem;
          }
        }
        .selects {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .form-group {
            flex-basis: 49%;
          }
        }
        button {
          width: 100%;
          padding: 0.7rem;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 1.5rem;
          margin-top: 0.3rem;
        }
      }
    }
  }
}
